// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import 'tailwind.css';

@import 'auth.scss';

body {
  height: 100vh;
  background-color: #F2F5FA;
}

main {
  height: 100%;
}

h1, h2, h3, h4, h5, b {
  font-family: "Product sans";
}
